.cache
.vscode
.vs
bin/
build/
Makefile
lib/*
!libsodium-build/lib/
Shaders/bin
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.make
*.sln
*.spv
vcpkg/buildtrees/
vcpkg/downloads/
vcpkg/packages/
compile_commands.json
