.cache
.vscode
.vs
bin/
build/
Makefile
lib/*
!libsodium-build/lib/
Shaders/bin
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.make
*.sln
*.spv
compile_commands.json

# temporary
Engine/third_party/vcpkg/downloads/PhysXGpu.7z
Engine/third_party/vcpkg/installed/x64-windows/tools/PhysXGpu_64.dll
Engine/third_party/vcpkg/packages/physx_x64-windows/tools/PhysXGpu_64.dll

