.cache
.vscode
.vs
/bin/
build/
Makefile
lib/*
!libsodium-build/lib/
Shaders/bin
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.make
*.sln
*.spv
Engine/third_party/vcpkg/buildtrees/
Engine/third_party/vcpkg/downloads/
Engine/third_party/vcpkg/installed/
Engine/third_party/vcpkg/packages/
compile_commands.json
Engine/third_party/physx/tools/PhysXGpu_64.dll
imgui.ini
templates/
Game/assets/maps/warehouseEdit/